
.fontblack() {
  font-family: "Open Sans", sans-serif;
  color: @black;
}
.null() {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.menu() {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: @white;

}
.no-outline() {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}
